body {
  margin: 0px;
  background: #f7f7f7;
  font-family: 'Helvetica Neue', Helvetica, Arial;
  font-size: 14px;
  line-height: 22px;
  color: #333;
}

#main {
  background: #fff;
  margin: 30px auto;
  padding: 20px 30px;
  width: 700px;

  border: 1px solid #ccc;
  box-shadow: inset 0 0 10px #eee, 0 0 3px #ddd;
}


#mytabs {
  margin-top: 30px;
}
.title {
	margin-top: 30px;
}
.examples li {
	list-style-type: none;
	display: inline-block;
	margin-right: 60px;
}
	.examples input {
		padding: 6px;
		width: 200px;
	}
pre {
  background: #f9f9f9;
  padding: 10px;
  overflow: auto;
  overflow-Y: hidden;
}

a {
  background: #c54a00;
  padding: 4px 8px;
  color: #fff;
  text-decoration: none;
}
  a.r {
    border-radius: 5px;
  }
a:hover {
  background: #000;
}

table {
  border-spacing: 0;
  border-color: #ddd;
}
th {
  background: #eee;
}
th, td {
  padding: 10px;
  border-color: #ddd;
}
